<script id="todo-template" type="text/x-handlebars-template">
    {{#each this}}
    <li>
        <h3>{{this.title}}</h3>
        <p>{{this.detail}}</p>
        <p>{{this.importance}}</p>
        <p>{{this.dueDate}}</p>
    </li>
    {{/each}}
</script>